<div (click)="toggleContent()" class="well pointable">
    <h4 class="well-title">
        <ng-content select="[well-title]"></ng-content>
    </h4>

    <ng-content *ngIf="visible" select="[well-body]"></ng-content>
    
</div>