<div class="modal" #modalContainer id="{{ elementId }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()">
                    <span>&times;</span>
                </button>

                <h4 class="modal-title">{{ title }}</h4>
            </div>

            <div class="modal-body" (click)="closeModal()">
                <ng-content class="modal-content"></ng-content>
            </div>
        </div>
    </div>
</div>