<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #485563;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ngEvents</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-current="page" class="nav-link">All events</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/events/new/']" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Create events</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu ng-dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" id="searchForm" (ngSubmit)="searchSessions(searchTerm)">
        <input class="form-control me-2" type="search" 
                placeholder="Search" aria-label="Search"
                name="searchTerm"
                [(ngModel)]="searchTerm">
        <button class="btn btn-secondary me-3" modal-trigger="searchResults">
          Search
        </button>
      </form>
    </div>
    <a *ngIf="!auth.isAuthenticated()" 
      class="nav-item" [routerLink]="['user/login']" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">Login</a>
    <a *ngIf="auth.isAuthenticated()" 
      class="nav-item" [routerLink]="['user/profile']" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">{{ this.auth.currentUser.firstName}}</a>
  </div>
</nav>

<simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
  <ul class="list-group">
    <a class="list-group-item"  *ngFor="let session of foundSessions" [routerLink]="['/events', session.id]">{{session.name}}</a>
  </ul>
</simple-modal>