
  .ng-dropdown-menu, .list-group{
    background-color: #485563;
    color: white;
  }
  .list-group-item{
    background-color: #485563;
  }
  .dropdown-item{
    color: white;
  }
  .dropdown-item:hover{
    color: white;
    background-color: #38414b;
  }
  .btn{
    color: white;
  }
  a:link {
  color: red;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

.active {
  font-weight: 700;
}