<div>
    <h1 class="mb-3 mt-3">Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)"
            autocomplete="off" novalidate>
        <div class="form-group mb-3" 
              [ngClass]="{ 'error' : isAnInvalidControl('firstName') }">
          <label for="firstName">First Name:</label>
          <em *ngIf="isAnInvalidControl('firstName') && profileForm.controls.firstName?.errors?.required">Required</em>
          <em *ngIf="isAnInvalidControl('firstName') && profileForm.controls.firstName?.errors?.pattern">
            Must start with a letter
          </em>
          <input formControlName="firstName" id="firstName" type="text" 
                  class="form-control" placeholder="First Name..." />
        </div>
        <div class="form-group mb-3" 
              [ngClass]="{ 'error' : isAnInvalidControl('lastName') }">
          <label for="lastName">Last Name:</label>
          <em *ngIf="isAnInvalidControl('lastName')">Required</em>
          <input formControlName="lastName" id="lastName" type="text" 
                  class="form-control" placeholder="Last Name..."/>
        </div>
  
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary ms-2" (click)="cancel()">Cancel</button>

        <button type="button" class="btn btn-warning float-end" (click)="logout()">Logout</button>
      </form>
  </div>
</div>

 