<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)"
    autocomplete="off" novalidate>
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseOverLogin)">Required</em>
      <input (ngModel)="userName" name="userName" 
              id="userName" type="text" 
              class="form-control" placeholder="User Name..." 
              required/>
    </div>
    <div class="form-group mb-3" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched || mouseOverLogin)">Required</em>
      <input (ngModel)="password" name="password" 
              id="password" type="password" 
              class="form-control"placeholder="Password..." 
              required/>
    </div>
        
    <span (mouseenter)="mouseOverLogin=true" (mouseleave)="mouseOverLogin=false">
      <button [disabled]="loginForm.invalid" type="submit" 
              class="btn btn-primary">Login</button>
    </span>

    <button type="button" (click)="cancel()" class="btn btn-secondary float-end">Cancel</button>
  </form>
  <br>
  <div *ngIf="loginInvalid" class="alert alert-danger">Invalid login info</div>
</div>