<div class="col-md-12">
    <h3>Create Session</h3>
  </div>
  <div class="col-md-6">
    <form autocomplete="off" [formGroup]="sessionForm" (ngSubmit)="save(sessionForm.value)" class="mb-3">
      <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty }">
        <label for="sessionName">Session Name:</label>
        <em *ngIf="name.invalid && name.dirty">Required</em>
        <input id="sessionName" type="text" 
                class="form-control" placeholder="session name..." 
                formControlName="name"/>
      </div>
      <div class="form-group" [ngClass]="{'error': presenter.invalid && presenter.dirty }">
        <label for="eventDate">Presenter:</label>
        <em *ngIf="presenter.invalid && presenter.dirty">Required</em>
        <input id="presenter" type="text" 
                class="form-control" placeholder="presenter..." 
                formControlName="presenter"/>
      </div>
      <div class="form-group" [ngClass]="{'error': duration.invalid && duration.dirty }">
        <label for="duration">Duration:</label>
        <em *ngIf="duration.invalid && duration.dirty">Required</em>
        <select class="form-select" formControlName="duration">
          <option value="">select duration...</option>
          <option value="1">Half Hour</option>
          <option value="2">1 Hour</option>
          <option value="3">Half Day</option>
          <option value="4">Full Day</option>
        </select>
      </div>
      <div class="form-group" [ngClass]="{'error': level.invalid && level.dirty }">
        <label for="level">Level:</label>
        <em *ngIf="level.invalid && level.dirty">Required</em>
        <select class="form-select" formControlName="level">
          <option value="">select level...</option>
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>
      <div class="form-group mb-3" [ngClass]="{'error': abstract.invalid && abstract.dirty }">
        <label for="abstract">Abstract:</label>
        <em *ngIf="abstract.invalid && abstract.dirty && abstract.errors.required">Required</em>
        <em *ngIf="abstract.invalid && abstract.dirty && abstract.errors.maxLenght">It looks like a lot of letters here!</em>
        <em *ngIf="abstract.invalid && abstract.dirty && abstract.errors.restrictedWords">
            Restrictive words found: {{ abstract.errors.restrictedWords }}
        </em>
        <textarea id="abstract" rows=3 
                    class="form-control" placeholder="abstract..."
                    formControlName="abstract">
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="sessionForm.invalid">Save</button>
      <button type="button" class="btn btn-secondary float-end" (click)="cancel()">Cancel</button>
    </form>
</div>