<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{ event?.name | uppercase }} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>{{ event?.date | date:'shortDate' }}</strong></div>
        <div><strong>{{ event?.time }}</strong></div>
        <div><strong>{{ event?.price | currency:'USD' }}</strong> usd</div>
      </div>
      <div class="col-md-6">
        <address>
          <strong>Address:</strong><br />
          {{event?.location?.address}}<br />
          {{event?.location?.city}}, {{event?.location?.country}}
        </address>
      </div>
    </div>

    <hr>

    <div class="headers">
      <div class="row mb-3">
        <div class="col-md-3 mb-3">
          <h3 style="margin: 0;">Sessions</h3>
        </div>
  
        <div class="col-md-6 filters">

          <div class="btn-group btn-group-sm mb-3">
            <button class="btn btn-outline-secondary" [class.active]="sortBy==='name'" (click)="sortBy='name'">By Name</button>
            <button class="btn btn-outline-secondary" [class.active]="sortBy==='votes'" (click)="sortBy='votes'">By votes</button>
          </div>
          

          <div class="btn-group btn-group-sm mb-3">
            <button class="btn btn-outline-secondary" [class.active]="filterBy==='all'" (click)="filterBy='all'">
              All</button>
            <button class="btn btn-outline-secondary" [class.active]="filterBy==='beginner'" (click)="filterBy='beginner'">
              Beginner</button>
            <button class="btn btn-outline-secondary" [class.active]="filterBy==='intermediate'" (click)="filterBy='intermediate'">
              Intermediate</button>
            <button class="btn btn-outline-secondary" [class.active]="filterBy==='advanced'" (click)="filterBy='advanced'">
              Advanced</button>
          </div>
    
        </div>
        <div class="col-md-3 mb-3">
          <a (click)="addSession()" class="float-end">Add session</a>
        </div>
      </div>
    </div>

    <session-list [eventId]="event.id" *ngIf="!addMode" [sortBy]="sortBy" [filterBy]="filterBy" [sessions]="event?.sessions"></session-list>
    <create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)"
      (cancelAddSession)="cancelAddSessions()"></create-session>
  </div>