<div class="row" *ngFor="let session of visibleSessions">
  <div class="col-md-1 col-sm-1">
    <div *ngIf="auth.isAuthenticated()">
      <upvote (vote)="toggleVote(session)" 
        [count]="session.voters.length" 
        [voted]="userHasVoted(session)">
      </upvote>
    </div>
  </div>
  <div class="col-md-10 col-sm-10">
    <collapsible-well>
        <div well-title>
          {{session.name}}
          <i *ngIf="session.voters.length > 3" class="fas fa-fire-alt" style="color: tomato"></i>
          <i *ngIf="session.voters.length < 3" class="fas fa-poop" style="color: burlywood;"></i>
          <i *ngIf="session.voters.length === 3" class="far fa-grimace" style="color: yellowgreen;"></i>
        </div >

        <div well-body> 
          <h6>{{session.presenter}}</h6>
          <span><strong>{{ session.duration | duration }}</strong> of duration</span><br />
          <span><strong>{{ session.level }}</strong></span>
          <p>{{session.abstract}}</p>
        </div>
    </collapsible-well>
  </div>
</div>