<div class="votingWidgetContainer pointable" (click)="onClick()">
    <div class="votingWidget">
        <i class="fas fa-heart" [style.color]='iconColor'></i>
    </div>
    <div class="badge badge-inverse votingCount">
        <div>{{ count }}</div>
    </div>
</div>